@import url('https://fonts.googleapis.com/css?family=Playfair+Display:100,200,300,400,500,600,700|Roboto:100, 200, 300, 400, 500, 600, 700');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

/* -------------- General Styling -------------- */
.text-green {
    color: seagreen;
}

.text-grey {
    color: #808080;
}

.text-playfair {
    font-family: "Playfair Display", sans-serif;
}

.general-link-decoration {
    color: inherit;
}

.general-link-decoration:hover {
    text-decoration: none;
    color: seagreen;
}

/* -------------- Home Styling -------------- */

.hero-image{
    height: 88.5vh;
    width:100%;
    background-image: url("../images/home/hero-haircut.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
}

.hero-padding {
    padding-top: 100px;
}

.header-text {
    text-transform:uppercase;
    font-weight: 500; 
    font-family: "Playfair Display";
    color: #fafafa;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

.header-padding {
    padding-top: 20px;
}

.einstein-quote {
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    font-size: 32px;
}

.einstein-image{
    margin: auto;
    width: 65%;
    display: block;
}

/* -------------- About Us Styling -------------- */

.about-card {
    margin: 20px 0px;
}

.about-image {
    width: 100%;
    height: 350px;
    margin: 0;
    display: block;
}

.card-body {
    background-color: #DCDCDC;
}

.card-width-styling {
    width: 18rem;
    margin: auto;
}

.card-icon {
    color: seagreen;
    font-size: 24px;
}

/* -------------- Testimonials Styling -------------- */
.testimonial-header-padding {
    padding-top: 2.5vh;
    margin-bottom: 2.5vh
}

.carousel-container {
    width: 100%;
    margin: auto;
}

.carousel-caption {
    background-color: rgba(200, 200, 200, 0.7);
    background-position: center center; 
    font-size: 16px;
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 0% !important;
    right: 0% !important;
    padding: 0px 10px; 
}

/* Used to ensure the carousel navigation links do not block navbar links */
.carousel-control-prev {
    height: 80% !important;
    top: 20% !important;
}

.carousel-control-next {
    height: 80% !important;
    top: 20% !important;
}

.carousel-image {
    max-height: 90vh;
}

.hidden-desktop {
    display: block;
}

.hidden-mobile {
    display: block;
}

.testimonial-text {
    color:#fafafa;
    font-weight: 600;
}

/* -------------- Sign Up Form Styling -------------- */
.sign-up-image {
    background: url("../images/sign-up/bw-background.jpg") no-repeat center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.sign-up-heading {
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 10px;
    color: #fafafa;
}

.sign-up-subheading {
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 40px;
    color: #fafafa;
}

.center-form {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0px;
}

.form-control {
     line-height: 50px;
     margin: 5px 0px;
     background-color: rgba(200, 200, 200, 0.7);
}

.submit-button {
    padding-top: 40px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: seagreen;
}

/* -------------- Header Styling -------------- */
.dna-icon {
    padding-left: 2.5px;
    padding-right: 2.5px;
    color: rgb(170, 0, 0);
    font-size: 16px;
}

.scissor-icon {
    color: #C0C0C0;
    font-size: 16px;
}

.active {
    border-bottom: 2px solid white;
}

/* -------------- Footer Styling -------------- */

.footer-styling {
    background-color: #DCDCDC;
    padding: 5px 0px;
    clear: both;
}

.footer-styling div ul li a {
    color: #808080;
    font-size: 40px;
    text-align: center;
    line-height: 20px;
    margin: 0;
}
.footer-styling ul {
    margin-bottom: 0px;
}

.footer-brandname {
    text-align: right;
    color: #808080;
    padding-right: 5px;
    font-weight: 200;
    padding-top: 10px;
    font-size: 16px;
}

.footer-brandname-link {
     color: #808080;
}


/* -------------- Media Queries -------------- */

@media only screen and (min-height: 1024px){
    .sign-up-image {
        height: 1024px;
    }

    .hero-image {
        height: 948px;
    }
}

@media only screen and (min-height: 1366px){
    .sign-up-image {
        height: 1366px;
    }

    .hero-image {
        height: 1290px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px){
    .card-width-styling{
        width: 21rem;
    }
}

@media only screen and (max-width: 1024px){
    .hidden-desktop {
        display: none;
    }

}

@media only screen and (min-width: 1025px){
    .hidden-mobile {
        display: none;
    }

}

@media only screen and (min-width: 500px){
    .carousel-image {
        max-height: 80vh;
    }
}

@media only screen and (max-aspect-ratio: 5/3){
    .testimonial-header-padding {
    padding-top: 5vh;
    margin-bottom: 5vh
    }
}

